/target/
**/*.rs.bk

**/*.exe
**/*.pdb

/Cargo.lock

*.log
*.tmp
*.bak
*.old
*~
*.swp
*.swo

venv
.vscode/
*.code-workspace

.idea/

*.sublime-*


.DS_Store

Thumbs.db
desktop.ini

/build
/pg_install
/target
/tmp_check
/tmp_check_cli
__pycache__/
test_output/
neon_previous/
.vscode
.idea
*.swp
tags

/target
ffi/target


compaction-suite-results.*
docker-compose/docker-compose-parallel.yml

*.profraw
*.profdata

*.key
*.crt
*.o
*.so
*.Po
*.pid

*.list
.env

/target