*.dll linguist-detectable=false
*.so linguist-detectable=false
*.a linguist-detectable=false
*.o linguist-detectable=false

go.mod linguist-detectable=false
go.sum linguist-detectable=false

Makefile linguist-detectable=false

*.rs linguist-language=Rust
